{
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles",
          "@containers": "./containers",
          "@components": "./components",
          "@elements": "./elements",
          "@blocks": "./blocks",
          "@utils": "./utils",
        },
        "cwd": "babelrc"
    }],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ],
  "presets": [
    "next/babel"
  ],
  "ignore": []
}
