@import '~normalize.css'

@import 'utilities/variables'
@import 'utilities/breakpoints'
@import 'utilities/typography'

@import '~bulma'




@import '../components/Button/index'
@import '../components/Container/index'
@import '../components/CTA/index'



body
  background: black
  //-webkit-font-smoothing: subpixel-antialiased
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-overflow-scrolling: touch
  min-height: 100vh
  position: relative
  margin: 0



// @import 'utilities/keyframes'

.color-primary
  color: $color-primary
.color-secondary
  color: $color-secondary
.color-white
  color: $white
.color-black
  color: $black

.background-primary
  background: $background-primary
.background-secondary
  background: $background-secondary
.background-white
  background: $white
.background-black
  background: $black

.columns:last-child
  margin-bottom: 0 !important
.columns
  margin: 0
